<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I Spy The Pokémon!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link id="favicon" rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <script src="https://use.fontawesome.com/f78c832dee.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="centeredPrompt">
    <div class="centeredPrompt__item centeredPromptIcon">
        <div class="icon fa fa-user-secret"></div>
    </div>
    <div class="centeredPrompt__item centeredPromptLabel">I Spy The Pokémon!</div>
    <div class="centeredPrompt__item centeredPromptDetails">Select a type or two.</div>
    <form class="centeredPrompt__item" action="/type/">
        <label>1st Type</label>
        <select name="type1">
            {% for type in types %}
            {% if type == type1 %}
            <option value={{type}} selected>{{type}}</option>
            {% else %}
            <option>{{type}}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>
        <label>2nd Type</label>
        <select name="type2">
            <option value="">None</option>
            {% for type in types %}
            {% if type == type2 %}
            <option value={{type}} selected>{{type}}</option>
            {% else %}
            <option>{{type}}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>
        <button type="submit">Search</button>
    </form>
    <form class="centeredPrompt__item" action="/">
        <button type="submit">Reset</button>
    </form>
</div>
<div class="centeredPrompt__item centeredPromptDetails">{{type1}} {{type2}}</div>
<div class="gallery centered">
    {% for poke in pokemon %}
    <div class="photo">{{poke.name}}</div>
    {% endfor %}
</div>
</body>
</html>
